.body {
    background-color: #AE8CA3;
}

.options {
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    padding: 25px;
    margin-top: 100 px;
    margin-bottom: 500px;
    margin-left: 400px;
    margin-right: 300px;
    text-align: center;
    color: #AE8CA3;
    background-color: #A2ABB5;
    border-radius: 2%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} 

.recipes {
    list-style-type: none;
}

a:hover {
    color: #d6afca;
}

a {
    color: white;
    text-decoration: none;
}

.body {
    background-color: #A2ABB5;
}

.brigadeiro {
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    padding: 25px;
    margin-top: 100 px;
    margin-bottom: 500px;
    margin-left: 400px;
    margin-right: 300px;
    text-align: center;
    color: white;
    background-color: #A2ABB5;
    border-radius: 2%;
    display: flex;
    flex-wrap: wrap;
}

img {
    width: 400px;
    height: 350px;
    border-radius: 8px;
    align-self: center;
}

.intro {
    background-color: #AE8CA3;
    padding: 45px 50px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.description {
    background-color: #AE8CA3;
    padding: 45px 50px;
    border-radius: 8px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.ingredients {
    background-color: #AE8CA3;
    padding: 45px 50px;
    border-radius: 8px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.steps {
    background-color: #AE8CA3;
    padding: 45px 50px;
    border-radius: 8px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}
